name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: fmt
        run: cargo fmt --all -- --check
      - name: clippy
        run: cargo clippy --all-targets --all-features -D warnings
      - name: test
        run: cargo test --all

  # 2026-02-11T01:43:59Z :: maddrm219j5z

  # 2026-02-11T01:44:01Z :: kthk3cbuiq5x

  # 2026-02-11T01:44:02Z :: rjpu7rq8rluc

  # 2026-02-11T01:44:03Z :: c8xshlgv1wv1
